combined_media_list.csv
combined_media_locations.csv
flipped_coordinates.jpg
geckodriver.log
__pycache__/media_geotag_functions.cpython-310.pyc
maps/combined_routes_intl_locations.html
maps/combined_routes_locations.html
route_errors_v2.jpg
route_errors.jpg
iPhone_media_geotag_mapper_tutorial.ipynb
media_geotag_functions_old_version.py
media_geotag_mapper_tutorial_v9.ipynb
media_geotag_mapper_tutorial_v9_old.ipynb
extra_files/spain_trip_media_list.csv
extra_files/spain_trip_media_locations.csv
extra_map_screenshots/spain_trip_locations.png
extra_maps/spain_trip_locations.html
extra_maps/
extra_files/
extra_map_screenshots/
maps/
*combined_locations.png
*combined_locations.html
*combined_intl_locations.png
*combined_intl_locations.html
desktop-settings.json
*jupyterlab-workspace
*checkpoint*
*.pyc
older_files/
Allie_Travel_Maps/*
temp/
df_locations_test.csv
*combined_routes_locations.png
*combined_routes_intl_locations.png
*trip_locations.png
df_all_locations.csv
all_iphone_locations.csv
combined_iphone_locations_with_valid_dates.csv
combined_iphone_media_list.csv
combined_iphone_media_locations.csv
df_all_iphone_locations.csv
iphone_locations.csv
iphone_maps
iphone_map_screenshots
map_screenshots/